{% extends 'demo/bootstrap.html' %}

{% load url from future %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
    <div class="container">
        <h1>{% block title %}(no title){% endblock %}</h1>

        <p>
            <a href="{% url 'demo:home' %}">home</a>
            <a href="{% url 'demo:formset_default' %}">formset</a>
            <a href="{% url 'demo:form_default' %}">form</a>
            <a href="{% url 'demo:form_by_field' %}">form_by_field</a>
            <a href="{% url 'demo:form_horizontal' %}">form_horizontal</a>
            <a href="{% url 'demo:form_inline' %}">form_inline</a>
            <a href="{% url 'demo:form_with_files' %}">form_with_files</a>
            <a href="{% url 'demo:pagination' %}">pagination</a>
            <a href="{% url 'demo:misc' %}">miscellaneous</a>
        </p>

        {% bootstrap_messages %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}
